/* Back Button */
.back-button {
    -fx-background-color: #34495e;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.back-button:hover {
    -fx-background-color: #2c3e50;
}

/* Oil Button */
.oil-button {
    -fx-background-color: #27ae60; /* green */
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.oil-button:hover {
    -fx-background-color: #2ecc71;
}

/* Filter Button */
.filter-button {
    -fx-background-color: #2980b9; /* blue */
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.filter-button:hover {
    -fx-background-color: #3498db;
}

/* Nut & Bolt Button */
.nut-button {
    -fx-background-color: #f39c12; /* orange */
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.nut-button:hover {
    -fx-background-color: #f1c40f;
}

/* Other Button */
.other-button {
    -fx-background-color: #8e44ad; /* purple */
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.other-button:hover {
    -fx-background-color: #9b59b6;
}
